
P2 - Sistemes de Recomanació-20210930/data/products.csv
P2 - Sistemes de Recomanació-20210930/data/orders__test.csv
P2 - Sistemes de Recomanació-20210930/data/orders.csv
P2 - Sistemes de Recomanació-20210930/data/order_products__train.csv
P2 - Sistemes de Recomanació-20210930/data/order_products__test.csv
P2 - Sistemes de Recomanació-20210930/data/__MACOSX/._products.csv
P2 - Sistemes de Recomanació-20210930/data/__MACOSX/._orders.csv
P2 - Sistemes de Recomanació-20210930/data/__MACOSX/._order_products__train.csv
